<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Your Pragmatic Catalog</h1>
<% @posts.each do |post| %>
<div >
<%= image_tag(post.image_url) %>
<h3><%= post.title %></h3>
<%=sanitize post.description %>
<%= button_to 'Stole', line_items_path(:post_id => post) %>

</div>
<% end %>

