
<div class="nav-container"></div>
<div class="nav"></div>
<div>
<h1>Listing Posts</h1>

<table>
    <% @posts.each do |post| %>
      <tr >
	<td><%= image_tag(post.image_url, :class => 'list_image') %> </td>
	<td >
	<dl>
	<dt><%= post.title %></dt>
	<dd><%= truncate(strip_tags(post.description),
	:length => 80) %></dd>
	</dl>
	</td>

        
       <td >
	<%= link_to 'Show', post %><br/>
	<%= link_to 'Edit', edit_post_path(post) %><br/>
	<%= link_to 'Destroy', post,
	:confirm => 'Are you sure?',
	:method => :delete %>
	</td>
      </tr>
    <% end %>
  
</table>
</div>
<br>

<%= link_to 'New Post', new_post_path %>
