<!DOCTYPE html>
<html>
<head>
  <title>Picload</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div  class="header">
			<table><tr>
           <td>
            <a href="http://www.buffercode.in" id=home"> <%= image_tag('picload_ui/logo_sm.png') %> </a>
            
            </td><td>
           
            <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/gap.png') %></a> 
            <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/me.png') %></a> 
             <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/gap.png') %></a> 
           
           </td>
            <td class="header-centre">
           
             
            <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/logo.png') %></a>  
           
           </td>
           <td class="header-right"> 
           
            <form method="get" id="searchform" name="searchform" action="http://www.google.com/search" target="_blank">
          <input type="text" name="as_q" id="s" value="Search this site..." onFocus="if (this.value == &#39;Search this site...&#39;) {this.value = &#39;&#39;;}" onBlur="if (this.value == &#39;&#39;) {this.value = &#39;Search this site...&#39;;}">
                       <input class="submit btn" type="image" alt="Go">
          </form>
          
           </td>
           </tr>
           </table>		
     </div>  


<div class="nav-container">
			<div class="nav">
			<!--	<ul>
					<li><a href="">Home</a></li>
					<li><a href="">CSS</a></li>
					<li><a href="">PHP</a></li>
					<li><a href="">SEO</a></li>
					<li><a href="">jQuery</a></li>
					<li><a href="">Wordpress</a></li>
					<li><a href="">Services</a></li>
				</ul> -->
                
                <div class="clear"></div>
			</div>
		</div>
<div class="container">
<div class="main-content">
<%= yield %>
</div>
</div>

 <div class="footer">
       <div class="footer-container">
       <table><tr>
             <td>
           <a href="http://www.buffercode.in" id=home"> <%= image_tag('picload_ui/logo_sm.png') %> </a>
            
            </td><td>
           
            
            <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/gap.png') %></a> 
            <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/me.png') %></a> 
             <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/gap.png') %></a> 
           
           </td>
           <td class="footer-container-centre">
           <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/magical_text.png') %></a>
             <a href="http://www.buffercode.in" id="home"><%= image_tag('picload_ui/gap.png') %></a> 
           <a href="http://www.buffercode.in" id=home"> <%= image_tag('picload_ui/logo_sm.png') %> </a>
            
           
           </td>
           </tr>
           </table>	
           </div>
       </div>
</body>
</html>
